{
"addr": "",
"port": 10000,
"passport":"http://127.0.0.1:8080",
"session":{
	"domain":        "xim.com",
	"cookie_name":   "ximsession",
	"store_type":    "mem",	
	"idle_time":     180,
	"cookie_expire": 180
},

"nodeName":"access-1",
"nodeConf":"example/nodenet.conf.sample"
}
